extends _navbar

block links
  #navbar.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a.nav__whitepaper #{navbar.whitepaper}
        a.nav__whitepaper(href='https://alisproject.github.io/whitepaper/whitepaper_v1.01.pdf', target="_blank") #{navbar.whitepaper_en}
        span #{navbar.whitepaper_mid}
        a.nav__whitepaper(href='https://alisproject.github.io/whitepaper/whitepaper_v1.01_ja.pdf', target="_blank") #{navbar.whitepaper_ja}
        span.nav__whitepaper_end #{navbar.whitepaper_end}
      li
        a.smooth-anchor(href='https://trello.com/b/XH5jh4DT/alis-public-roadmap', target="_blank") #{navbar.roadmap}
      li
        a.smooth-anchor(href='#ico') #{navbar.ico}
      li
        a.smooth-anchor(href='#team') #{navbar.team}
      li
        a.smooth-anchor(href='#meetus') #{navbar.meetus}
      li
        a.btn.btn-social-icon.btn-lg.navbar__sns-links__link(href='https://twitter.com/ALIS_media', target='blank')
          i.fa.fa-twitter
        a.btn.btn-social-icon.btn-lg.navbar__sns-links__link(href='https://alis-slack.herokuapp.com/', target='blank')
          i.fa.fa-slack
      li
        select.form-control.nav__language(onchange="location = this.options[this.selectedIndex].value;")
          option #{navbar.language}
          option(value='/') English
          option(value='/zh/index.html') 中文
