extends _navbar

block links
  #navbar.navbar-collapse.collapse
    <h3 class="navbar__header">MENU</h3>
    ul.nav.navbar-nav
      li
        a(href='/about.html') #{navbar.about}
      li
        a(href='https://alisproject.github.io/whitepaper/whitepaper_v1.01_ja.pdf', target="_blank") #{navbar.whitepaper}
      li
        a(href='/community.html') #{navbar.community}
      li
        a(href='/product.html') #{navbar.product}
      li
        a(href='/team.html') #{navbar.team}
      li
        a(href=sns_url.trello, target="_blank") #{navbar.roadmap}
      li
        a(href='/news.html') #{navbar.news}
      li.u-pc-only
        .c-select
          span.c-select__lang.js-select-lang
          .c-select__opt
            .c-select__bg
            ul.c-select__options
              li.c-select__option EN
              li.c-select__option JA

