include includes/header

// Navbar
body
  include includes/navbar

  include mixin/mail_form

  .p-index
    main.l-main
      img(src="/img/pc/top_sp.png").p-index__img.js-toggle-fix
      // Cover
      include includes/cover

      // ABOUT
      section.container-fluid.p-section
        .p-title.p-title--ourproject
          .p-title__header #{project.header}
          .p-title__body 
            | #{project.body1}

          ul.p-feature-list(data-scroll="js-toggle-fix")
            li.p-feature-list__item
              p.p-feature-list__item-body
                | #{project.feature_list.item1_body1}
                br
                | #{project.feature_list.item1_body2}
            li.p-feature-list__item
              p.p-feature-list__item-body
                | #{project.feature_list.item2_body1}
                | #{project.feature_list.item2_body2}
                br
                | #{project.feature_list.item2_body3}
            li.p-feature-list__item
              p.p-feature-list__item-body
                | #{project.feature_list.item3_body1}
                br
                | #{project.feature_list.item3_body2}


      // MEDIA APPEARANCE
      section.container-fluid.p-section
        .p-title.p-title--nobody
          h3.p-title__header MEDIA APPEARANCE
        // media logos
        .p-media-logos
          a(href="https://www.nhk.or.jp/keizai/archives/20170909_10.html", target="blank")
            img(src="/img/pc/logo_nhk.png", alt='NHK')
          a(href="https://japan.cnet.com/article/35106279/", target="blank")
            img(src="/img/pc/logo_cnet.png", alt='Cnet Japan')
          a(href="https://forbesjapan.com/articles/detail/17547", target="blank")
            img(src="/img/pc/logo_forbes.png", alt='Forbes Japan')
          a(href="https://www.nikkei.com/article/DGXLASDZ01H7H_01092017000000/", target="blank")
            img(src="/img/pc/logo_nikkei.png", alt='日本経済新聞')
        .p-media-logos
          a(href="http://www.itmedia.co.jp/news/articles/1708/25/news102.html", target="blank")
            img(src="/img/pc/logo_itmedia.png" alt='ITMedia')
          a(href="https://www.cryptocoinsnews.com/alis-to-establish-a-trustworthy-social-media-platform-in-japan/", target="blank")
            img(src="/img/pc/logo_cryptocoins.png" alt='cryptocoinsnews')
          a(href="http://ico-news.jp/2018/01/alis_interview/", target="blank")
            img(src="/img/pc/logo_iconews.png" alt='ICO NEWS')
          a(href="https://cointelegraph.com/news/blockchain-powers-shift-to-decentralization-in-media", target="blank")
            img(src="/img/pc/logo_cointelegraph.png" alt='Cointelegraph')

      // PRODUCT
      section.container-fluid.p-section
        .p-title
          .p-title__header #{product.header}
          .p-title__body 
            | #{product.body_line_1}
            br.u-pc-only.u-ja-only
            | #{product.body_line_2}
        .p-product
          img.p-product__img(src="/img/pc/img_product.png" alt='ALIS MOCK')
          .p-product__btns
            a.p-product__button(href="#") #{button.mock_pc}
            a.p-product__button(href="#") #{button.mock_sp}
            br
            a.p-product__link(href=sns_url.github, target="_blank") #{product.link}

      // MEMBER
      section.container-fluid.p-section
        .p-title.p-title--nobody
          .p-title__header #{member.header}
        .p-member
            ul.row.p-member__list
              include mixin/team_member
              li.col-lg-3.col-xs-6.p-member__list-item(data-popup=member.profile.yasu.id)
                +team_member(member.profile.yasu.name, member.profile.yasu.role)(src='/img/pc/img_profile_yasu.png')
              li.col-lg-3.col-xs-6.p-member__list-item(data-popup=member.profile.mizusawa.id)
                +team_member(member.profile.mizusawa.name, member.profile.mizusawa.role)(src='/img/pc/img_profile_mizusawa.png')
              li.col-lg-3.col-xs-6.p-member__list-item(data-popup=member.profile.ishii.id)
                +team_member(member.profile.ishii.name, member.profile.ishii.role)(src='/img/pc/img_profile_ishii.png')
              li.col-lg-3.col-xs-6.p-member__list-item(data-popup=member.profile.usagi.id)
                +team_member(member.profile.usagi.name, member.profile.usagi.role)(src='/img/pc/img_profile_usagi.png')
              li.col-lg-3.col-xs-6.p-member__list-item(data-popup=member.profile.togashi.id)
                +team_member(member.profile.togashi.name, member.profile.togashi.role)(src='/img/pc/img_profile_togashi.png')
              li.col-lg-3.col-xs-6.p-member__list-item(data-popup=member.profile.kamei.id)
                +team_member(member.profile.kamei.name, member.profile.kamei.role)(src='/img/pc/img_profile_kamei.png')
              li.col-lg-3.col-xs-6.p-member__list-item(data-popup=member.profile.kubori.id)
                +team_member(member.profile.kubori.name, member.profile.kubori.role)(src='/img/pc/img_profile_kubori.png')


      // EXCHANGE
      section.p-section
        .p-title.p-title--nobody
          h3.p-title__header EXCHANGE

        .p-exchange
            a(href="https://www.coinexchange.io/", target="blank")
              img.p-exchange__img(src="/img/pc/logo_coinexchange.png" alt='Coin Exchange')
              img.p-exchange__img--sp(src="/img/sp/logo_coinexchange.png" alt='Coin Exchange')
            a(href="https://www.cryptopia.co.nz/", target="blank")
              img.p-exchange__img(src="/img/pc/logo_cryptopia.png" alt='cryptopias')
              img.p-exchange__img--sp(src="/img/sp/logo_cryptopia.png" alt='cryptopias')
            a(href="https://yobit.net", target="blank")
              img.p-exchange__img(src="/img/pc/logo_yobit.png" alt='Yobit')
              img.p-exchange__img--sp(src="/img/sp/logo_yobit.png" alt='Yobit')
  
  include mixin/popup_member
  article.p-popup.p-popup-member.is-effect(id="js-popup-"+member.profile.yasu.id)
    +popup_member(
    member.profile.yasu.id,
    member.profile.yasu.name,
    member.profile.yasu.role, 
    member.profile.yasu.body, 
    member.profile.yasu.twitter, 
    member.profile.yasu.fb, 
    member.profile.yasu.linkedin)
  .p-popup-overlay(data-exit=member.profile.yasu.id)

  article.p-popup.p-popup-member.is-effect(src='/img/pc/img_profile_mizusawa.png', id="js-popup-"+member.profile.mizusawa.id)
    +popup_member(
    member.profile.mizusawa.id,
    member.profile.mizusawa.name,
    member.profile.mizusawa.role, 
    member.profile.mizusawa.body, 
    member.profile.mizusawa.twitter, 
    member.profile.mizusawa.fb, 
    member.profile.mizusawa.linkedin)
  .p-popup-overlay(data-exit=member.profile.mizusawa.id)

  article.p-popup.p-popup-member.is-effect(src='/img/pc/img_profile_ishii.png', id="js-popup-"+member.profile.ishii.id)
    +popup_member(
    member.profile.ishii.id,
    member.profile.ishii.name,
    member.profile.ishii.role, 
    member.profile.ishii.body, 
    member.profile.ishii.twitter, 
    member.profile.ishii.fb, 
    member.profile.ishii.linkedin)
  .p-popup-overlay(data-exit=member.profile.ishii.id)

  article.p-popup.p-popup-member.is-effect(src='/img/pc/img_profile_togashi.png', id="js-popup-"+member.profile.togashi.id)
    +popup_member(
    member.profile.togashi.id,
    member.profile.togashi.name,
    member.profile.togashi.role, 
    member.profile.togashi.body, 
    member.profile.togashi.twitter, 
    member.profile.togashi.fb, 
    member.profile.togashi.linkedin)
  .p-popup-overlay(data-exit=member.profile.togashi.id)

  article.p-popup.p-popup-member.is-effect(src='/img/pc/img_profile_kamei.png', id="js-popup-"+member.profile.kamei.id)
    +popup_member(
    member.profile.kamei.id,
    member.profile.kamei.name,
    member.profile.kamei.role, 
    member.profile.kamei.body, 
    member.profile.kamei.twitter, 
    member.profile.kamei.fb, 
    member.profile.kamei.linkedin)
  .p-popup-overlay(data-exit=member.profile.kamei.id)

  article.p-popup.p-popup-member.is-effect(src='/img/pc/img_profile_usagi.png', id="js-popup-"+member.profile.usagi.id)
    +popup_member(
    member.profile.usagi.id,
    member.profile.usagi.name,
    member.profile.usagi.role, 
    member.profile.usagi.body, 
    member.profile.usagi.twitter, 
    member.profile.usagi.fb, 
    member.profile.usagi.linkedin)
  .p-popup-overlay(data-exit=member.profile.usagi.id)

  article.p-popup.p-popup-member.is-effect(src='/img/pc/img_profile_kubori.png', id="js-popup-"+member.profile.kubori.id)
    +popup_member(
    member.profile.kubori.id,
    member.profile.kubori.name,
    member.profile.kubori.role, 
    member.profile.kubori.body, 
    member.profile.kubori.twitter, 
    member.profile.kubori.fb, 
    member.profile.kubori.linkedin)
  .p-popup-overlay(data-exit=member.profile.kubori.id)

  // Footer
  #meetus
  include includes/footer

  // generated by webpack
  script(type="text/javascript", src='/js/low_priority_index.js')
