include includes/header

// Navbar
body
  include includes/navbar

  include mixin/mail_form

  main.l-main

    // Cover
    include includes/cover

    // ABOUT
    section.container-fluid.p-section
      .row
        .col-md-12
          .p-title
            .p-title__header #{project.header}
            .p-title__body 
              | #{project.body1}
              br
              | #{project.body2}
        .col-md-12
          ul.p-feature-list
            li.p-feature-list__item
              img.p-feature-list__item-img(src='/img/pc/icon_ourproject1.png', alt='ALIS')
              p.p-feature-list__item-body
                | #{project.feature_list.item1_body1}
                br
                | #{project.feature_list.item1_body2}
            li.p-feature-list__item
              img.p-feature-list__item-img(src='/img/pc/icon_ourproject2.png', alt='ALIS')
              p.p-feature-list__item-body
                | #{project.feature_list.item2_body1}
                br
                | #{project.feature_list.item2_body2}
                br
                | #{project.feature_list.item2_body3}
            li.p-feature-list__item
              img.p-feature-list__item-img(src='/img/pc/icon_ourproject3.png', alt='ALIS')
              p.p-feature-list__item-body
                | #{project.feature_list.item3_body1}
                br
                | #{project.feature_list.item3_body2}
                
        //- .col-md-12.text-center    
        //-   a.p-button--lg(href=whitepaper.url, target="_blank") #{button.readwhitepaper}

      // MEDIA APPEARANCE
      article.p-well
        .p-title.p-title--center
          h3.p-title__header MEDIA APPEARANCE
        // media logos
        .container.media-logos
          .row
            .col-md-12
              a(href="https://www.nhk.or.jp/keizai/archives/20170909_10.html", target="blank")
                img(src="/img/pc/logo_nhk.png", alt='NHK')
              a(href="https://japan.cnet.com/article/35106279/", target="blank")
                img(src="/img/pc/logo_cnet.png", alt='Cnet Japan')
              a(href="https://forbesjapan.com/articles/detail/17547", target="blank")
                img(src="/img/pc/logo_forbes.png", alt='Forbes Japan')
              a(href="https://www.nikkei.com/article/DGXLASDZ01H7H_01092017000000/", target="blank")
                img(src="/img/pc/logo_nikkei.png", alt='日本経済新聞')
          .row
            .col-md-12
              a(href="http://www.itmedia.co.jp/news/articles/1708/25/news102.html", target="blank")
                img(src="/img/pc/logo_itmedia.png" alt='ITMedia')
              a(href="https://www.cryptocoinsnews.com/alis-to-establish-a-trustworthy-social-media-platform-in-japan/", target="blank")
                img(src="/img/pc/logo_cryptocoins.png" alt='cryptocoinsnews')
              a(href="", target="blank")
                img(src="/img/pc/logo_iconews.png" alt='ICO NEWS')
              a(href="https://cointelegraph.com/news/blockchain-powers-shift-to-decentralization-in-media", target="blank")
                img(src="/img/pc/logo_cointelegraph.png" alt='Cointelegraph')

    // PRODUCT
    section.container-fluid.p-section
      .row
        .col-md-12
          .p-title
            .p-title__header #{product.header}
            .p-title__body 
              | #{product.body_line_1}
              br
              | #{product.body_line_2}
        .col-md-12.p-product
          img.p-product__img(src="/img/pc/img_product.png" alt='ALIS MOCK')
          .p-product__btns
            a.p-product__button(href="#") #{button.mock_pc}
            a.p-product__button(href="#") #{button.mock_sp}
            br
            a.p-product__link(href="#") #{product.link}

      // EXCHANGE
      article.p-well
        .p-title.p-title--center
          h3.p-title__header EXCHANGE

        .p-exchange
            a(href="", target="blank")
              img.p-exchange__img(src="/img/pc/logo_coinexchange.png" alt='Coin Exchange')
            a(href="https://www.cryptocoinsnews.com/alis-to-establish-a-trustworthy-social-media-platform-in-japan/", target="blank")
              img.p-exchange__img(src="/img/pc/logo_cryptopia.png" alt='cryptopias')
            a(href="", target="blank")
              img.p-exchange__img(src="/img/pc/logo_yobit.png" alt='Yobit')


    //- // About Japan
    //- .container.about-japan#about-japan
    //-   h2.about-japan__heading
    //-     | #{about_japan.header}
    //-   .row.about-japan__row
    //-     .col-md-7
    //-       h3
    //-         | #{about_japan.media_quality.header}
    //-       p
    //-         | #{about_japan.media_quality.body}
    //-     .col-md-5.about-japan__image-container
    //-       img.about-japan-image.img-responsive.center-block(src='/img/japan-media-quality.png',
    //-       alt='media quality')
    //-   .row.about-japan__row
    //-     .col-md-7.col-md-push-5
    //-       h3
    //-         | #{about_japan.technology.header}
    //-       p
    //-         | #{about_japan.technology.body}
    //-     .col-md-5.col-md-pull-7.about-japan__image-container
    //-       img.about-japan-image.img-responsive.center-block(src='/img/japan-technology.png',
    //-       alt='technology')
    //-   .row.about-japan__row
    //-     .col-md-7
    //-       h3
    //-         | #{about_japan.market.header}
    //-       p
    //-         | #{about_japan.market.body}
    //-     .col-md-5.about-japan__image-container
    //-       img.about-japan-image.img-responsive.center-block(src='/img/japan-market.png', alt='market')

    //- // ICO
    //- .ico
    //-   .container#ico
    //-     .row.ico__row
    //-       .col-md-12
    //-         h2.ico__heading
    //-           | #{ico.header}
    //-         img.technology__logo(src='/img/ico.png', alt='ICO')
    //-         .lead
    //-           | #{ico.body1}
    //-           br
    //-           | #{ico.body2}
    //-           br
    //-           | #{ico.body3}

    //- // Technology
    //- .container.technology
    //-   .row
    //-     .col-md-12
    //-       h2.technology__heading
    //-         | #{technology.header}
    //-       img.technology__logo(src='/img/technology.png', alt='technology')
    //-       .lead
    //-         | #{technology.body}

    //- // Subscribe form
    //- .container.subscribe-form
    //-   .row
    //-     .col-md-12
    //-       h2.subscribe-form__heading
    //-       .lead
    //-         | #{subscribe_form.body}
    //-       p
    //-         +mail_form

    //- // Team
    //- .team
    //-   .container#team
    //-     .row
    //-       .col-md-12
    //-         h2.team__heading
    //-           | #{team.header}
    //-       include mixin/team_member
    //-       include mixin/team_member_sns
    //-       .col-lg-4
    //-         +team_member(team.profile.yasu.name, 'Founder / CEO')(src='/img/yasu.jpg')
    //-         +team_member_sns('masahiro.yasu.7', 'MasahiroALIS')
    //-         .team__content
    //-           | #{team.profile.yasu.body}
    //-       .col-lg-4
    //-         +team_member(team.profile.mizusawa.name, 'Co-Founder / CMO')(src='/img/mizusawa.jpg')
    //-         +team_member_sns('takashi.mizusawa', 'takashi_mizu')
    //-         .team__content
    //-           | #{team.profile.mizusawa.body}
    //-       .col-lg-4
    //-         +team_member(team.profile.ishii.name, 'Co-Founder / CTO')(src='/img/ishii.jpg')
    //-         +team_member_sns('sota.ishii', 'sot528')
    //-         .team__content
    //-           | #{team.profile.ishii.body}
    //-     .row
    //-       .col-lg-4
    //-         +team_member(team.profile.kamei.name, 'Legal department')(src='/img/kamei.jpg')
    //-         p.team__sns-link
    //-           +team_member_fb('tatsuhiko.kamei.9')
    //-           .team__content
    //-             | #{team.profile.kamei.body}
    //-       .col-lg-4
    //-         +team_member(team.profile.nakamura.name, 'Media and Mass communication')(src='/img/nakamura.jpg')
    //-         +team_member_sns('cafekenta?fref=ts', 'cafekenta')
    //-         .team__content
    //-           | #{team.profile.nakamura.body}

  // Footer
  #meetus
  include includes/footer

  // generated by webpack
  script(type="text/javascript", src='/js/low_priority_index.js')
