include includes/header

// Navbar
body
  include includes/navbar

  // Cover
  #cover.cover
    // TODO: "carousel-inner" のclassを除却
    .carousel-inner
      .item.active#cover-particles
        .container
          .cover__caption
            p
              | #{cover.caption_line_one}
            p
              | #{cover.caption_line_two}
            p
              svg#cover-button.cover__caption__btn(xmlns="http://www.w3.org/2000/svg",
              xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", viewbox="0 0 512 512",
              enable-background="new 0 0 512 512")
                g
                  g
                    path(d="m354.2,247.4l-135.1-92.4c-4.2-3.1-15.4-3.1-16.3,8.6v184.8c1,11.7 12.4,11.9 16.3,8.6l135"
                    + ".1-92.4c3.5-2.1 8.3-10.7 0-17.2zm-130.5,81.3v-145.4l106.1,72.7-106.1,72.7z")
                    |
                    path(d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256"
                    + ",480.1    C132.4,480.1,31.9,379.6,31.9,256S132.4,31.9,256,31.9S480.1,132.4,480.1,256S379.6,480.1"
                    + ",256,480.1z")

  // Service information
  .container.service-information
    .row
      .col-md-12#service-information
        img.service-information__logo(src='/img/logo.png', alt='ALIS')
        h2.service-information__heading
          | #{service_information.header}
        .lead
          | #{service_information.body}
        p
          a.service-information__button.btn.btn-lg.btn-default(href='https://goo.gl/forms/rNbmA3BOOUhnLGos2',
          target='blank' role='button') #{service_information.button}

  // Features
  .container.features
    h2.features__heading
      | #{features.header}
    .row.features__row
      .col-lg-3.features__item
        img.img-rounded.features__image(src='/img/feature_token.png', alt='token')
        h4
          | #{features.token.header}
        p
          | #{features.token.body}
      .col-lg-3.features__item
        img.img-rounded.features__image(src='/img/feature_platform.png', alt='platform')
        h4
          | #{features.platform.header}
        p
          | #{features.platform.body}
      .col-lg-3.features__item
        img.img-rounded.features__image(src='/img/feature_technology.jpg', alt='technology')
        h4
          | #{features.technology.header}
        p
          | #{features.technology.body}

  // About Japan
  .container.about-japan#about-japan
    h2.about-japan__heading
      | #{about_japan.header}
    .row
      .col-md-7
        h3
          | #{about_japan.media_quality.header}
        p
          | #{about_japan.media_quality.body}
      .col-md-5
        img.about-japan-image.img-responsive.center-block(src='/img/japan-media-quality.png',
        alt='media quality')
    .row
      .col-md-7.col-md-push-5
        h3
          | #{about_japan.technology.header}
        p
          | #{about_japan.technology.body}
      .col-md-5.col-md-pull-7
        img.about-japan-image.img-responsive.center-block(src='/img/japan-technology.png',
        alt='technology')
    .row
      .col-md-7
        h3
          | #{about_japan.market.header}
        p
          | #{about_japan.market.body}
      .col-md-5
        img.about-japan-image.img-responsive.center-block(src='/img/japan-market.png', alt='market')

  // ICO
  .container.ico#ico
    .row
      .col-md-12
        h2.ico__heading
          | #{ico.header}
        img.technology__logo(src='/img/ico.png', alt='ICO')
        .lead
          | #{ico.body}
        p
          a.ico__button.btn.btn-lg.btn-default(href='https://goo.gl/forms/rNbmA3BOOUhnLGos2',
          target='blank' role='button') #{ico.button}

  // Technology
  .container.technology
    .row
      .col-md-12
        h2.technology__heading
          | #{technology.header}
        img.technology__logo(src='/img/feature_technology.jpg', alt='technology')
        .lead
          | #{technology.body}

  // Team
  .container.team#team
    .row
      .col-md-12
        h2.team__heading
          | #{team.header}
      include mixin/team_member
      include mixin/team_member_sns
      .col-lg-4
        +team_member(team.profile.yasu.name, 'Founder')(src='/img/yasu.jpg')
        .team__content
          | #{team.profile.yasu.body}
        +team_member_sns('masahiro.yasu.7', 'fiesta_red_fg')
      .col-lg-4
        +team_member(team.profile.mizusawa.name, 'Co-Founder / Marketing')(src='/img/mizusawa.jpg')
        .team__content
          | #{team.profile.mizusawa.body}
        +team_member_sns('takashi.mizusawa', 'takashi_mizu')
      .col-lg-4
        +team_member(team.profile.ishii.name, 'Co-Founder / Engineering')(src='/img/ishii.jpg')
        .team__content
          | #{team.profile.ishii.body}
        +team_member_sns('sota.ishii', 'sot528')

  // Footer
  include includes/footer

  // Video modal
  include mixin/video-mordal
