include includes/header

// Navbar
body
  include includes/navbar

  include mixin/mail_form

  // Cover
  include includes/cover-until-ico
  include includes/cover-ico-live

  // Service information
  .container.service-information
    .row
      .col-md-12#service-information
        img.service-information__logo(src='/img/logo.png', alt='ALIS')
        h2.service-information__heading
          | #{service_information.header}
        .lead
          | #{service_information.body1}
        a.service-information__square-btn(href="https://alisproject.github.io/whitepaper/whitepaper_v1.01.pdf", target="_blank") Read Whitepaper
        .lead
          | #{service_information.body2}
        p
          +mail_form

  // media logos
  .container.media-logos
    .row
      .col-md-12
        a(href="https://japan.cnet.com/article/35106279/", target="blank")
          img(src="/img/cnet.png", alt='Cnet Japan')
        a(href="https://www.nikkei.com/article/DGXLASDZ01H7H_01092017000000/", target="blank")
          img(src="/img/nikkei.png" alt='The Bridge')
        a(href="https://forbesjapan.com/articles/detail/17547", target="blank")
          img(src="/img/forbes.png", alt='Forbes Japan')
        a(href="https://bita.jp/dml/alis", target="blank")
          img(src="/img/dijimalab.png" alt='Dijimalab')
        a(href="http://www.itmedia.co.jp/news/articles/1708/25/news102.html", target="blank")
          img(src="/img/itmedia.png" alt='ITMedia')
        a(href="http://thebridge.jp/prtimes/254776", target="blank")
          img(src="/img/thebridge.png" alt='The Bridge')

  // Features
  .container.features
    h2.features__heading
      | #{features.header}
    .row.features__row
      .col-lg-3.features__item
        .features__image-container
          img.img-rounded.features__container__image(src='/img/feature_token.png', alt='token')
        h4
          | #{features.token.header}
        p
          | #{features.token.body}
      .col-lg-3.features__item
        .features__image-container
          img.img-rounded.features__container__image(src='/img/feature_platform.png', alt='platform')
        h4
          | #{features.platform.header}
        p
          | #{features.platform.body}
      .col-lg-3.features__item
        .features__image-container
          img.img-rounded.features__container__image(src='/img/feature_technology.png', alt='technology')
        h4
          | #{features.technology.header}
        p
          | #{features.technology.body}

  // About Japan
  .container.about-japan#about-japan
    h2.about-japan__heading
      | #{about_japan.header}
    .row.about-japan__row
      .col-md-7
        h3
          | #{about_japan.media_quality.header}
        p
          | #{about_japan.media_quality.body}
      .col-md-5.about-japan__image-container
        img.about-japan-image.img-responsive.center-block(src='/img/japan-media-quality.png',
        alt='media quality')
    .row.about-japan__row
      .col-md-7.col-md-push-5
        h3
          | #{about_japan.technology.header}
        p
          | #{about_japan.technology.body}
      .col-md-5.col-md-pull-7.about-japan__image-container
        img.about-japan-image.img-responsive.center-block(src='/img/japan-technology.png',
        alt='technology')
    .row.about-japan__row
      .col-md-7
        h3
          | #{about_japan.market.header}
        p
          | #{about_japan.market.body}
      .col-md-5.about-japan__image-container
        img.about-japan-image.img-responsive.center-block(src='/img/japan-market.png', alt='market')

  // ICO
  .ico
    .container#ico
      .row.ico__row
        .col-md-12
          h2.ico__heading
            | #{ico.header}
          img.technology__logo(src='/img/ico.png', alt='ICO')
          .lead
            | #{ico.body1}
            br
            | #{ico.body2}

      .row.ico__row
        include mixin/ico_schedule
        .col-md-3
          +ico_schedule(1, 2900, ico.schedule.week1.from, ico.schedule.week1.to, 'arrow-right')
        .col-md-3
          +ico_schedule(2, 2600, ico.schedule.week2.from, ico.schedule.week2.to, 'arrow-right')
        .col-md-3
          +ico_schedule(3, 2300, ico.schedule.week3.from, ico.schedule.week3.to, 'arrow-right')
        .col-md-3
          +ico_schedule(4, 2000, ico.schedule.week4.from, ico.schedule.week4.to, 'star')

      .row.ico__row
        .col-md-12
          .ico__information
            h3.ico__information__heading
              | #{ico.information.header} :
            .ico__information__row
              .row
                .col-sm-7.ico__information__row--left
                  | #{ico.information.row1.left}
                .col-sm-5.ico__information__row--right
                  | #{ico.information.row1.right}
            .ico__information__row
              .row
                .col-sm-7.ico__information__row--left
                  | #{ico.information.row2.left}
                .col-sm-5.ico__information__row--right
                  | #{ico.information.row2.right}
            ul.ico__information__caption
              li
                | #{ico.information.caption1}
      span#ico-live.ico__forms--live
        .row.ico__row
          .col-md-12
            .ico__instruction
              a(href=icointroduction.url target="_blank")
                img(src="/img/icon-files.png")
                span
                  | #{cover.instruction}

        .row.ico__row
          .col-md-12
            .ico__tac
              input(type="checkbox")#ico-tac-checkbox
              | #{cover.tac.before}
              a(href="#" data-toggle="modal" data-target=".tac-modal" data-keyboard="true")
                | #{cover.tac.link}
              | #{cover.tac.after}

        .row.ico__row
          .col-md-12.ico__contribute
            button.disabled#ico-contribute-button(href="#" data-toggle="modal" data-target=".warning-modal" disabled="disabled")
              | #{cover.contribute}

        .row.ico__row
          .col-md-12.ico__slack
            a(href="https://alis-slack.herokuapp.com/" target="_blank")
              | #{ico.button}

  // Technology
  .container.technology
    .row
      .col-md-12
        h2.technology__heading
          | #{technology.header}
        img.technology__logo(src='/img/technology.png', alt='technology')
        .lead
          | #{technology.body}

  // Subscribe form
  .container.subscribe-form
    .row
      .col-md-12
        h2.subscribe-form__heading
        .lead
          | #{subscribe_form.body}
        p
          +mail_form

  // Team
  .team
    .container#team
      .row
        .col-md-12
          h2.team__heading
            | #{team.header}
        include mixin/team_member
        include mixin/team_member_sns
        .col-lg-4
          +team_member(team.profile.yasu.name, 'Founder')(src='/img/yasu.jpg')
          +team_member_sns('masahiro.yasu.7', 'MasahiroALIS')
          .team__content
            | #{team.profile.yasu.body}
        .col-lg-4
          +team_member(team.profile.mizusawa.name, 'Co-Founder / Marketing')(src='/img/mizusawa.jpg')
          +team_member_sns('takashi.mizusawa', 'takashi_mizu')
          .team__content
            | #{team.profile.mizusawa.body}
        .col-lg-4
          +team_member(team.profile.ishii.name, 'Co-Founder / Engineering')(src='/img/ishii.jpg')
          +team_member_sns('sota.ishii', 'sot528')
          .team__content
            | #{team.profile.ishii.body}
      .row
        .col-lg-4
          +team_member(team.profile.kamei.name, 'Legal department')(src='/img/kamei.jpg')
          p.team__sns-link
            +team_member_fb('tatsuhiko.kamei.9')
            .team__content
              | #{team.profile.kamei.body}
        .col-lg-4
          +team_member(team.profile.nakamura.name, 'Media and Mass communication')(src='/img/nakamura.jpg')
          +team_member_sns('cafekenta?fref=ts', 'cafekenta')
          .team__content
            | #{team.profile.nakamura.body}

  // Footer
  #meetus
  include includes/footer

  // tac
  .modal.fade.tac-modal(tabindex="-1")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4 #{tac.heading}
        .modal-body
          h4 #{tac.subheading1}
          h5 #{tac.subheading2}

          h5 #{tac.introduction.heading}
          p #{tac.introduction.body}

          h5 #{tac.token_creation.heading}
          p #{tac.token_creation.body}

          h5 #{tac.registrationandaccount.heading}
          p #{tac.registrationandaccount.body}

          h5 #{tac.user_wallet_safety.heading}
          p #{tac.user_wallet_safety.body}

          h5 #{tac.risks.heading}
          p #{tac.risks.body}

          h5 #{tac.taxation.heading}
          p #{tac.taxation.body}

          h5 #{tac.liability.heading}
          p #{tac.liability.body}

          h5 #{tac.miscellaneous.heading}
          p #{tac.miscellaneous.body}

          h5 #{tac.cancellation.heading}
          p #{tac.cancellation.body}

          h5 #{tac.investmentnotice.heading}
          p #{tac.investmentnotice.body}

          h5 #{tac.license.heading}
          p #{tac.license.body}

          h5 #{tac.termination.heading}
          p #{tac.termination.body}

          h5 #{tac.linkstotoherwebsites.heading}
          p #{tac.linkstotoherwebsites.body}

          h5 #{tac.copyright.heading}
          p #{tac.copyright.body}

          h5 #{tac.indemnification.heading}
          p #{tac.indemnification.body}

          h5 #{tac.disclaimer.heading}
          p #{tac.disclaimer.body}

          h5 #{tac.applicablelaw.heading}
          p #{tac.applicablelaw.body}

          h5 #{tac.noclassarbitration.heading}
          p #{tac.noclassarbitration.body}

          h5 #{tac.relationship.heading}
          p #{tac.relationship.body}

          h5 #{tac.survivalandseverability.heading}
          p #{tac.survivalandseverability.body}

          h5 #{tac.integration.heading}
          p #{tac.integration.body}

          h5 #{tac.actofgod.heading}
          p #{tac.actofgod.body}

          h5 #{tac.languageterm.heading}
          p #{tac.languageterm.body}

          h5 #{tac.notes.heading}
          div #{tac.notes.note1}
          div #{tac.notes.note2.main}
          div #{tac.notes.note2.example}
          div #{tac.notes.note3}
          div #{tac.notes.note4}
          div #{tac.notes.note5}
          div #{tac.notes.note6}

        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") #{tac.close}

  // warning
  .modal.fade.warning-modal(tabindex="-1")
    .alert.alert-danger.alert-dismissible.fade.in(role='alert')
      p
        ul.warning-modal__messages
          li
            strong #{warning.note1}
          li #{warning.note2}
          .warning-modal__introduction
            a(href=icointroduction.url target="_blank")
              i.fa.fa-file
              span
                | #{cover.instruction}
      p.warning-modal__button-container
        button.btn.btn-default.warning-modal__button(href="#" data-toggle="modal" data-target=".contribute-modal"
        data-dismiss='modal')
          | OK

  // contribute
  .modal.fade.contribute-modal(tabindex="-1")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4 #{contribute.heading}
        .modal-body
          .contribute-modal__header
            h5 #{contribute.contact_address.heading}
          // Don't send ETH until 1 Sep 2017 2:00(UTC)!
          // Transaction will fail and you lose transaction fee.
          // 2017/09/01 日本時間11:00AM まではETHを送らないでください!
          // トランザクションは失敗し、手数料を失います。
          // 请不要发送ETH，直到2017/09/01！
          // 失败并失去佣金
          p 0xeb31a3E0D93Cb2C89eDD68D57710361d76Ce5bF1

          .contribute-modal__header
            h5 #{contribute.sugg_gas_limit.heading}
          p 200000

          .contribute-modal__header
            h5 #{contribute.notes.heading}
          ul
            li #{contribute.notes.note1}
            li
              strong #{contribute.notes.note2.main}
              | #{contribute.notes.note2.example}
            li #{contribute.notes.note3}
            li #{contribute.notes.note4}
            li #{contribute.notes.note5}
            li #{contribute.notes.note6}

          .contribute-modal__introduction
            a(href=icointroduction.url target="_blank")
              i.fa.fa-file
              span
                | #{cover.instruction}

        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") #{contribute.close}

  // generated by webpack
  script(type="text/javascript", src='/js/low_priority_index.js')
