include includes/header

// Navbar
body
  include includes/navbar

  include mixin/mail_form
  
  .p-page
    main.l-main
      .p-cover-header.p-cover-header--team.js-cover-header
        h2.p-cover-header__title TEAM

      .container-fluid
        .p-block
          .p-title.p-title--center  
            h3.p-title__header #{member.header}
            p.p-title__body #{member.body}

          .p-member
            ul.row.p-member__list
              include mixin/team_member
              li.col-lg-3.col-xs-6.p-member__list-item
                +team_member(member.profile.yasu.name, member.profile.yasu.role)(src='/img/pc/img_profile_yasu.png', data-popup=member.profile.yasu.id)
              li.col-lg-3.col-xs-6.p-member__list-item
                +team_member(member.profile.mizusawa.name, member.profile.mizusawa.role)(src='/img/pc/img_profile_mizusawa.png', data-popup=member.profile.mizusawa.id)
              li.col-lg-3.col-xs-6.p-member__list-item
                +team_member(member.profile.ishii.name, member.profile.ishii.role)(src='/img/pc/img_profile_ishii.png', data-popup=member.profile.ishii.id)
              li.col-lg-3.col-xs-6.p-member__list-item
                +team_member(member.profile.usagi.name, member.profile.usagi.role)(src='/img/pc/img_profile_usagi.png', data-popup=member.profile.usagi.id)
              li.col-lg-3.col-xs-6.p-member__list-item
                +team_member(member.profile.togashi.name, member.profile.togashi.role)(src='/img/pc/img_profile_togashi.png', data-popup=member.profile.togashi.id)
              li.col-lg-3.col-xs-6.p-member__list-item
                +team_member(member.profile.kamei.name, member.profile.kamei.role)(src='/img/pc/img_profile_kamei.png', data-popup=member.profile.kamei.id)
              li.col-lg-3.col-xs-6.p-member__list-item
                +team_member(member.profile.kubori.name, member.profile.kubori.role)(src='/img/pc/img_profile_kubori.png', data-popup=member.profile.kubori.id)

        .p-block--xs
          .p-title.p-title--center 
            h3.p-title__header #{ambassador.header}
            p.p-title__body #{ambassador.body}

          .p-ambassador
            include mixin/team_ambassador
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--japan
                  span.p-ambassador__country JAPAN
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.ricky.name, ambassador.profile.ricky.url)
              li.row.p-ambassador__list-item
                .col-lg-6
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.wine.name, ambassador.profile.wine.url)
              li.row.p-ambassador__list-item
                .col-lg-6
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.seiya.name, ambassador.profile.seiya.url)
              li.row.p-ambassador__list-item
                .col-lg-6
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.edindin.name, ambassador.profile.edindin.url)
              li.row.p-ambassador__list-item
                .col-lg-6
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.ueno.name, ambassador.profile.ueno.url)
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--usa 
                  span.p-ambassador__country UNITED STATES OF AMERICA
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.adam.name, ambassador.profile.adam.url)
              li.row.p-ambassador__list-item
                .col-lg-6
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.dmitry.name, ambassador.profile.dmitry.url)
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--canada
                  span.p-ambassador__country CANADA
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.keegan.name, ambassador.profile.keegan.url, "is-disabled")
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--uk
                  span.p-ambassador__country UNITED KINGDOM
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.takuya.name, ambassador.profile.takuya.url)
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--netherlands
                  span.p-ambassador__country NETHERLANDS
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.jimmy.name, ambassador.profile.jimmy.url)
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--czech
                  span.p-ambassador__country CZECH
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.michal.name, ambassador.profile.michal.url, "is-disabled")
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--china
                  span.p-ambassador__country CHINA
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.peter.name, ambassador.profile.peter.url, "is-disabled")
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--taiwan 
                  span.p-ambassador__country TAIWAN
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.ian.name, ambassador.profile.ian.url)
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--singapore
                  span.p-ambassador__country SINGAPORE
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.tan.name, ambassador.profile.tan.url)
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--malaysia
                  span.p-ambassador__country MALAYSIA
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.neowhite.name, ambassador.profile.neowhite.url)
            ul.p-ambassador__list
              li.row.p-ambassador__list-item
                .col-lg-6
                  span.p-ambassador__flag--argentina 
                  span.p-ambassador__country ARGENTINA
                .col-lg-6
                  .p-ambassador__profile
                    +team_ambassador(ambassador.profile.fernando.name, ambassador.profile.fernando.url)

          //- .p-ambassador
          //-   .row
          //-     .col-md-12
          //-     include mixin/team_ambassador
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.seiya.name, 'Japan', ambassador.profile.seiya.body)(src='/img/pc/img_jpn.png')
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.ricky.name, 'Japan', ambassador.profile.ricky.body)(src='/img/pc/img_jpn.png')
          //-   .row
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.wine.name, 'Japan', ambassador.profile.wine.body)(src='/img/pc/img_jpn.png')
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.edindin.name, 'Japan', ambassador.profile.edindin.body)(src='/img/pc/img_jpn.png')
          //-   .row
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.ueno.name, 'Japan', ambassador.profile.ueno.body)(src='/img/pc/img_jpn.png')
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.adam.name, 'USA', ambassador.profile.adam.body)(src='/img/pc/img_usa.png')
          //-   .row
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.mito.name, 'USA', ambassador.profile.mito.body)(src='/img/pc/img_usa_nl.png')
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.phillip.name, 'Chia', ambassador.profile.phillip.body)(src='/img/pc/img_china.png')
          //-   .row
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.fernando.name, 'Argentine', ambassador.profile.fernando.body)(src='/img/pc/img_argentine.png')
          //-     .col-lg-6.p-ambassador__profile
          //-       +team_ambassador(ambassador.profile.ian.name, 'Taiwan', ambassador.profile.ian.body)(src='/img/pc/img_taiwan.png')

    .l-overlay#js-overlay
      include mixin/popup_member
      article.p-popup.p-popup-member(id="js-popup-"+member.profile.yasu.id)
        +popup_member(
        member.profile.yasu.id,
        member.profile.yasu.name,
        member.profile.yasu.role, 
        member.profile.yasu.body, 
        member.profile.yasu.twitter, 
        member.profile.yasu.fb, 
        member.profile.yasu.linkedin)
      article.p-popup.p-popup-member(src='/img/pc/img_profile_mizusawa.png', id="js-popup-"+member.profile.mizusawa.id)
        +popup_member(
        member.profile.mizusawa.id,
        member.profile.mizusawa.name,
        member.profile.mizusawa.role, 
        member.profile.mizusawa.body, 
        member.profile.mizusawa.twitter, 
        member.profile.mizusawa.fb, 
        member.profile.mizusawa.linkedin)
      article.p-popup.p-popup-member(src='/img/pc/img_profile_ishii.png', id="js-popup-"+member.profile.ishii.id)
        +popup_member(
        member.profile.ishii.id,
        member.profile.ishii.name,
        member.profile.ishii.role, 
        member.profile.ishii.body, 
        member.profile.ishii.twitter, 
        member.profile.ishii.fb, 
        member.profile.ishii.linkedin)
      article.p-popup.p-popup-member(src='/img/pc/img_profile_togashi.png', id="js-popup-"+member.profile.togashi.id)
        +popup_member(
        member.profile.togashi.id,
        member.profile.togashi.name,
        member.profile.togashi.role, 
        member.profile.togashi.body, 
        member.profile.togashi.twitter, 
        member.profile.togashi.fb, 
        member.profile.togashi.linkedin)
      article.p-popup.p-popup-member(src='/img/pc/img_profile_kamei.png', id="js-popup-"+member.profile.kamei.id)
        +popup_member(
        member.profile.kamei.id,
        member.profile.kamei.name,
        member.profile.kamei.role, 
        member.profile.kamei.body, 
        member.profile.kamei.twitter, 
        member.profile.kamei.fb, 
        member.profile.kamei.linkedin)
      article.p-popup.p-popup-member(src='/img/pc/img_profile_usagi.png', id="js-popup-"+member.profile.usagi.id)
        +popup_member(
        member.profile.usagi.id,
        member.profile.usagi.name,
        member.profile.usagi.role, 
        member.profile.usagi.body, 
        member.profile.usagi.twitter, 
        member.profile.usagi.fb, 
        member.profile.usagi.linkedin)
      article.p-popup.p-popup-member(src='/img/pc/img_profile_gachiho.png', id="js-popup-"+member.profile.gachiho.id)
        +popup_member(
        member.profile.gachiho.id,
        member.profile.gachiho.name,
        member.profile.gachiho.role, 
        member.profile.gachiho.body, 
        member.profile.gachiho.twitter, 
        member.profile.gachiho.fb, 
        member.profile.gachiho.linkedin)
      article.p-popup.p-popup-member(src='/img/pc/img_profile_kubori.png', id="js-popup-"+member.profile.kubori.id)
        +popup_member(
        member.profile.kubori.id,
        member.profile.kubori.name,
        member.profile.kubori.role, 
        member.profile.kubori.body, 
        member.profile.kubori.twitter, 
        member.profile.kubori.fb, 
        member.profile.kubori.linkedin)

  // Footer
  #meetus
  include includes/footer

  // generated by webpack
  script(type="text/javascript", src='/js/low_priority_index.js')
