mixin popup_registration
	article#js-popup-registration.p-popup.p-popup-registration
		img.p-popup__exit.js-exit-popup(src="/img/sp/icon_exit.png", alt='close')
		img.p-popup-registration__icon(src="/img/pc/logo_icon.png", alt='logo')
		h3.p-popup-registration__header #{registration.popup.header}
		p.p-popup-registration__body
			| #{registration.popup.body_line_1}
			br
			| #{registration.popup.body_line_2}
		form
			.form-group
				label #{registration.popup.label.email}
				input.form-control
			.form-group
				label #{registration.popup.label.twitter}
				input.form-control
			.form-group
				label #{registration.popup.label.url}
				input.form-control
			.form-group.text-center
				button.fonrm-control.p-popup-registration__button #{button.registration}
