mixin popup_member(id, name, role, body, twitter, fb, linkedin)
	img.p-popup__exit.js-exit-popup(src="/img/sp/icon_exit.png", alt='close')
	.p-popup-member__row
		.p-popup-member__img-wrapper
			img.img-circle.p-popup-member__img(alt=name, src="/img/pc/img_profile_"+id+".png")
		.p-popup-member__title
			h3.p-popup-member__name= name
			h5.p-popup-member__role= role
			.p-popup-member__sns
				a.p-icon.p-icon--twitter(href=twitter, target="_blank")
				a.p-icon.p-icon--facebook(href=fb, target="_blank")
				a.p-icon.p-icon--linkedin(href=linkedin, target="_blank")
	p.p-popup-member__body= body